.elementor-19 .elementor-element.elementor-element-2accfca9 {
    --display: flex;
    --min-height: 75vh;
    --flex-direction: row;
    --container-widget-width: calc( ( 1 - var( --container-widget-flex-grow)) * 100%);
    --container-widget-height: 100%;
    --container-widget-flex-grow: 1;
    --container-widget-align-self: stretch;
    --flex-wrap-mobile: wrap;
    --align-items: stretch;
    --gap: 5% 5%;
    --row-gap: 5%;
    --column-gap: 5%;
    --flex-wrap: nowrap;
    --overflow: hidden;
    --margin-top: -120px;
    --margin-bottom: 0px;
    --margin-left: 0px;
    --margin-right: 0px;
    --padding-top: 05%;
    --padding-bottom: 5%;
    --padding-left: 5%;
    --padding-right: 5%;
}

.elementor-19 .elementor-element.elementor-element-2accfca9:not(.elementor-motion-effects-element-type-background),
.elementor-19 .elementor-element.elementor-element-2accfca9>.elementor-motion-effects-container>.elementor-motion-effects-layer {
    background-color: transparent;
    background-image: linear-gradient(180deg, #FFFFFF 50%, #F8C3D0 100%);
}

.elementor-19 .elementor-element.elementor-element-6591554b {
    --display: flex;
    --flex-direction: column;
    --container-widget-width: 100%;
    --container-widget-height: initial;
    --container-widget-flex-grow: 0;
    --container-widget-align-self: initial;
    --flex-wrap-mobile: wrap;
    --justify-content: center;
    --gap: 0px 0px;
    --row-gap: 0px;
    --column-gap: 0px;
    --padding-top: 0px;
    --padding-bottom: 0px;
    --padding-left: 0px;
    --padding-right: 0px;
}

.elementor-19 .elementor-element.elementor-element-6591554b.e-con {
    --flex-grow: 0;
    --flex-shrink: 0;
}

.elementor-19 .elementor-element.elementor-element-78b83a7d {
    --spacer-size: 456px;
    width: var( --container-widget-width, 456px);
    max-width: 456px;
    background-color: transparent;
    --container-widget-width: 456px;
    --container-widget-flex-grow: 0;
    top: 10%;
    z-index: 1;
    background-image: linear-gradient(180deg, #FFBA7B 0%, #FFFFFF 100%);
    border-radius: 300px 300px 300px 300px;
}

body:not(.rtl) .elementor-19 .elementor-element.elementor-element-78b83a7d {
    left: -30%;
}

body.rtl .elementor-19 .elementor-element.elementor-element-78b83a7d {
    right: -30%;
}

.elementor-widget-call-to-action .elementor-cta__title {
    font-family: var( --e-global-typography-primary-font-family), Sans-serif;
    font-weight: var( --e-global-typography-primary-font-weight);
}

.elementor-widget-call-to-action .elementor-cta__description {
    font-family: var( --e-global-typography-text-font-family), Sans-serif;
    font-weight: var( --e-global-typography-text-font-weight);
}

.elementor-widget-call-to-action .elementor-cta__button {
    font-family: var( --e-global-typography-accent-font-family), Sans-serif;
    font-weight: var( --e-global-typography-accent-font-weight);
}

.elementor-widget-call-to-action .elementor-ribbon-inner {
    background-color: var( --e-global-color-accent);
    font-family: var( --e-global-typography-accent-font-family), Sans-serif;
    font-weight: var( --e-global-typography-accent-font-weight);
}

.elementor-19 .elementor-element.elementor-element-30dff4b0 .elementor-cta .elementor-cta__bg,
.elementor-19 .elementor-element.elementor-element-30dff4b0 .elementor-cta .elementor-cta__bg-overlay {
    transition-duration: 1500ms;
}

.elementor-19 .elementor-element.elementor-element-30dff4b0 {
    z-index: 2;
}

.elementor-19 .elementor-element.elementor-element-30dff4b0 .elementor-cta__content {
    text-align: left;
    padding: 0% 0% 0% 0%;
    background-color: #02010100;
}

.elementor-19 .elementor-element.elementor-element-30dff4b0 .elementor-cta__title {
    font-family: "Poppins", Sans-serif;
    font-size: 3.7vw;
    font-weight: 500;
    text-transform: none;
    font-style: normal;
    text-decoration: none;
    line-height: 1.1em;
    letter-spacing: -2px;
    word-spacing: 0em;
    color: #212121;
}

.elementor-19 .elementor-element.elementor-element-30dff4b0 .elementor-cta__title:not(:last-child) {
    margin-bottom: 22px;
}

.elementor-19 .elementor-element.elementor-element-30dff4b0 .elementor-cta__description {
    font-family: "Poppins", Sans-serif;
    font-size: 22px;
    font-weight: 300;
    text-transform: none;
    font-style: normal;
    text-decoration: none;
    line-height: 1.4em;
    letter-spacing: 0px;
    word-spacing: 0em;
    color: #171515;
}

.elementor-19 .elementor-element.elementor-element-30dff4b0 .elementor-cta__description:not(:last-child) {
    margin-bottom: 38px;
}

.elementor-19 .elementor-element.elementor-element-30dff4b0 .elementor-cta__button {
    color: #FFFFFF;
    border-color: #212121;
    font-family: "Poppins", Sans-serif;
    font-size: 16px;
    font-weight: 500;
    text-transform: capitalize;
    font-style: normal;
    text-decoration: none;
    line-height: 1em;
    letter-spacing: 0px;
    word-spacing: 0em;
    background-color: var( --e-global-color-secondary);
    border-width: 1px;
    border-radius: 50px;
}

.elementor-19 .elementor-element.elementor-element-30dff4b0 .elementor-cta__button:hover {
    color: #000000;
    background-color: #F8C3D000;
    border-color: #000000;
}

.elementor-widget-image .widget-image-caption {
    color: var( --e-global-color-text);
    font-family: var( --e-global-typography-text-font-family), Sans-serif;
    font-weight: var( --e-global-typography-text-font-weight);
}

.elementor-19 .elementor-element.elementor-element-bc51fa7 {
    width: var( --container-widget-width, 46.563%);
    max-width: 46.563%;
    --container-widget-width: 46.563%;
    --container-widget-flex-grow: 0;
}

.elementor-19 .elementor-element.elementor-element-bc51fa7.elementor-element {
    --flex-grow: 0;
    --flex-shrink: 0;
}

.elementor-19 .elementor-element.elementor-element-bc51fa7 img {
    width: 100%;
    max-width: 100%;
    height: 406px;
}

.elementor-19 .elementor-element.elementor-element-5e6d38f3 {
    --display: flex;
    --min-height: 80vh;
    --flex-direction: column;
    --container-widget-width: calc( ( 1 - var( --container-widget-flex-grow)) * 100%);
    --container-widget-height: initial;
    --container-widget-flex-grow: 0;
    --container-widget-align-self: initial;
    --flex-wrap-mobile: wrap;
    --justify-content: center;
    --align-items: center;
    --gap: 20px 20px;
    --row-gap: 20px;
    --column-gap: 20px;
    --padding-top: 5%;
    --padding-bottom: 5%;
    --padding-left: 5%;
    --padding-right: 5%;
}

.elementor-19 .elementor-element.elementor-element-5e6d38f3:not(.elementor-motion-effects-element-type-background),
.elementor-19 .elementor-element.elementor-element-5e6d38f3>.elementor-motion-effects-container>.elementor-motion-effects-layer {
    background-color: transparent;
    background-image: linear-gradient(180deg, #F8C3D0 30%, #FCFBFC 70%);
}

.elementor-widget-heading .elementor-heading-title {
    font-family: var( --e-global-typography-primary-font-family), Sans-serif;
    font-weight: var( --e-global-typography-primary-font-weight);
    color: var( --e-global-color-primary);
}

.elementor-19 .elementor-element.elementor-element-6eff69f0 {
    text-align: center;
}

.elementor-19 .elementor-element.elementor-element-6eff69f0 .elementor-heading-title {
    font-family: "Poppins", Sans-serif;
    font-size: 16px;
    font-weight: 400;
    text-transform: uppercase;
    font-style: normal;
    text-decoration: none;
    line-height: 1.1em;
    letter-spacing: 2px;
    word-spacing: 0em;
    color: var( --e-global-color-primary);
}

.elementor-19 .elementor-element.elementor-element-66473bb {
    --display: flex;
}

.elementor-19 .elementor-element.elementor-element-5f922b80 {
    padding: 0% 0% 0% 0%;
    text-align: center;
}

.elementor-19 .elementor-element.elementor-element-5f922b80 .elementor-heading-title {
    font-family: "Roboto", Sans-serif;
    font-weight: 600;
    color: #222222;
}

.elementor-19 .elementor-element.elementor-element-e6969a5 {
    --display: flex;
    --flex-direction: row;
    --container-widget-width: initial;
    --container-widget-height: 100%;
    --container-widget-flex-grow: 1;
    --container-widget-align-self: stretch;
    --flex-wrap-mobile: wrap;
}

.elementor-19 .elementor-element.elementor-element-c6854c9 {
    --display: flex;
}

.elementor-19 .elementor-element.elementor-element-dcd4fb1 {
    text-align: center;
}

.elementor-19 .elementor-element.elementor-element-dcd4fb1 .elementor-heading-title {
    font-family: "Roboto", Sans-serif;
    font-weight: 600;
}

.elementor-widget-text-editor {
    font-family: var( --e-global-typography-text-font-family), Sans-serif;
    font-weight: var( --e-global-typography-text-font-weight);
    color: var( --e-global-color-text);
}

.elementor-widget-text-editor.elementor-drop-cap-view-stacked .elementor-drop-cap {
    background-color: var( --e-global-color-primary);
}

.elementor-widget-text-editor.elementor-drop-cap-view-framed .elementor-drop-cap,
.elementor-widget-text-editor.elementor-drop-cap-view-default .elementor-drop-cap {
    color: var( --e-global-color-primary);
    border-color: var( --e-global-color-primary);
}

.elementor-19 .elementor-element.elementor-element-44e0509 {
    text-align: center;
}

.elementor-19 .elementor-element.elementor-element-cbfe83a {
    --display: flex;
}

.elementor-19 .elementor-element.elementor-element-6c198a6 {
    text-align: center;
}

.elementor-19 .elementor-element.elementor-element-6c198a6 .elementor-heading-title {
    font-family: "Roboto", Sans-serif;
    font-weight: 600;
}

.elementor-19 .elementor-element.elementor-element-f50c921 {
    text-align: center;
}

.elementor-19 .elementor-element.elementor-element-44e5ec1 {
    --display: flex;
}

.elementor-19 .elementor-element.elementor-element-be952a1 img {
    height: 160px;
}

.elementor-19 .elementor-element.elementor-element-65895b3 {
    text-align: center;
}

.elementor-19 .elementor-element.elementor-element-65895b3 .elementor-heading-title {
    font-family: "Roboto", Sans-serif;
    font-weight: 600;
}

.elementor-19 .elementor-element.elementor-element-c211d03 {
    text-align: center;
}

.elementor-19 .elementor-element.elementor-element-0d3a8e7 {
    --display: flex;
}

.elementor-19 .elementor-element.elementor-element-fd44b37 img {
    height: 170px;
}

.elementor-19 .elementor-element.elementor-element-c24d7c6 {
    text-align: center;
}

.elementor-19 .elementor-element.elementor-element-c24d7c6 .elementor-heading-title {
    font-family: "Roboto", Sans-serif;
    font-weight: 600;
}

.elementor-19 .elementor-element.elementor-element-b943530 {
    text-align: center;
}

.elementor-19 .elementor-element.elementor-element-5841dda3 {
    --display: flex;
    --min-height: 80vh;
    --flex-direction: row;
    --container-widget-width: calc( ( 1 - var( --container-widget-flex-grow)) * 100%);
    --container-widget-height: 100%;
    --container-widget-flex-grow: 1;
    --container-widget-align-self: stretch;
    --flex-wrap-mobile: wrap;
    --justify-content: space-evenly;
    --align-items: stretch;
    --gap: 50px 50px;
    --row-gap: 50px;
    --column-gap: 50px;
    --padding-top: 5%;
    --padding-bottom: 5%;
    --padding-left: 5%;
    --padding-right: 5%;
}

.elementor-19 .elementor-element.elementor-element-5841dda3:not(.elementor-motion-effects-element-type-background),
.elementor-19 .elementor-element.elementor-element-5841dda3>.elementor-motion-effects-container>.elementor-motion-effects-layer {
    background-color: transparent;
    background-image: linear-gradient(180deg, #F8C3D0 30%, #FFFFFF 70%);
}

.elementor-19 .elementor-element.elementor-element-162c1b91 {
    --display: flex;
    --flex-direction: column;
    --container-widget-width: calc( ( 1 - var( --container-widget-flex-grow)) * 100%);
    --container-widget-height: initial;
    --container-widget-flex-grow: 0;
    --container-widget-align-self: initial;
    --flex-wrap-mobile: wrap;
    --justify-content: flex-start;
    --align-items: flex-start;
    --gap: 0px 0px;
    --row-gap: 0px;
    --column-gap: 0px;
    --flex-wrap: wrap;
    --padding-top: 0%;
    --padding-bottom: 0%;
    --padding-left: 0%;
    --padding-right: 0%;
}

.elementor-19 .elementor-element.elementor-element-692f638.elementor-element {
    --align-self: center;
}

.elementor-19 .elementor-element.elementor-element-692f638 {
    text-align: center;
}

.elementor-19 .elementor-element.elementor-element-e107602 {
    margin: 0px 0px calc(var(--kit-widget-spacing, 0px) + 20px) 0px;
    text-align: center;
}

.elementor-19 .elementor-element.elementor-element-e107602.elementor-element {
    --align-self: center;
}

.elementor-19 .elementor-element.elementor-element-e107602 .elementor-heading-title {
    font-family: "Roboto", Sans-serif;
    font-weight: 600;
    color: var( --e-global-color-secondary);
}

.elementor-19 .elementor-element.elementor-element-0ec1dc9.elementor-element {
    --align-self: center;
}

.elementor-19 .elementor-element.elementor-element-0ec1dc9 {
    text-align: center;
}

.elementor-19 .elementor-element.elementor-element-0ec1dc9 .elementor-heading-title {
    font-family: "Roboto", Sans-serif;
    font-size: 48px;
    font-weight: 600;
}

.elementor-19 .elementor-element.elementor-element-99c3cda {
    margin: 20px 0px calc(var(--kit-widget-spacing, 0px) + 0px) 0px;
    text-align: center;
    color: #171313;
}

.elementor-19 .elementor-element.elementor-element-99c3cda.elementor-element {
    --align-self: center;
}

.elementor-19 .elementor-element.elementor-element-df0d53d {
    --display: flex;
    --flex-direction: row;
    --container-widget-width: initial;
    --container-widget-height: 100%;
    --container-widget-flex-grow: 1;
    --container-widget-align-self: stretch;
    --flex-wrap-mobile: wrap;
}

.elementor-widget-flip-box .elementor-flip-box__front .elementor-flip-box__layer__title {
    font-family: var( --e-global-typography-primary-font-family), Sans-serif;
    font-weight: var( --e-global-typography-primary-font-weight);
}

.elementor-widget-flip-box .elementor-flip-box__front .elementor-flip-box__layer__description {
    font-family: var( --e-global-typography-text-font-family), Sans-serif;
    font-weight: var( --e-global-typography-text-font-weight);
}

.elementor-widget-flip-box .elementor-flip-box__back .elementor-flip-box__layer__title {
    font-family: var( --e-global-typography-primary-font-family), Sans-serif;
    font-weight: var( --e-global-typography-primary-font-weight);
}

.elementor-widget-flip-box .elementor-flip-box__back .elementor-flip-box__layer__description {
    font-family: var( --e-global-typography-text-font-family), Sans-serif;
    font-weight: var( --e-global-typography-text-font-weight);
}

.elementor-widget-flip-box .elementor-flip-box__button {
    font-family: var( --e-global-typography-accent-font-family), Sans-serif;
    font-weight: var( --e-global-typography-accent-font-weight);
}

.elementor-19 .elementor-element.elementor-element-6e94724 .elementor-flip-box__front {
    background-color: #7A7A7A00;
}

.elementor-19 .elementor-element.elementor-element-6e94724 .elementor-flip-box__back {
    background-color: var( --e-global-color-primary);
}

.elementor-19 .elementor-element.elementor-element-6e94724 {
    background-color: var( --e-global-color-secondary);
}

.elementor-19 .elementor-element.elementor-element-6e94724:hover {
    background-color: var( --e-global-color-primary);
}

.elementor-19 .elementor-element.elementor-element-6e94724 .elementor-flip-box__front .elementor-flip-box__layer__overlay {
    text-align: center;
}

.elementor-19 .elementor-element.elementor-element-6e94724 .elementor-flip-box__image {
    opacity: 1;
}

.elementor-19 .elementor-element.elementor-element-6e94724 .elementor-flip-box__image img {
    border-style: solid;
    border-width: 2px 2px 2px 2px;
    border-color: var( --e-global-color-text);
    border-radius: 5px;
}

.elementor-19 .elementor-element.elementor-element-6e94724 .elementor-flip-box__front .elementor-flip-box__layer__title {
    color: #FCFCFC;
}

.elementor-19 .elementor-element.elementor-element-6e94724 .elementor-flip-box__back .elementor-flip-box__layer__overlay {
    text-align: center;
}

.elementor-19 .elementor-element.elementor-element-6e94724 .elementor-flip-box__button {
    margin-center: 0;
}

.elementor-19 .elementor-element.elementor-element-ca722ff .elementor-flip-box__front {
    background-color: #7A7A7A00;
}

.elementor-19 .elementor-element.elementor-element-ca722ff .elementor-flip-box__back {
    background-color: var( --e-global-color-primary);
}

.elementor-19 .elementor-element.elementor-element-ca722ff {
    background-color: var( --e-global-color-primary);
}

.elementor-19 .elementor-element.elementor-element-ca722ff:hover {
    background-color: var( --e-global-color-accent);
}

.elementor-19 .elementor-element.elementor-element-ca722ff .elementor-flip-box__front .elementor-flip-box__layer__overlay {
    text-align: center;
}

.elementor-19 .elementor-element.elementor-element-ca722ff .elementor-flip-box__image {
    opacity: 1;
}

.elementor-19 .elementor-element.elementor-element-ca722ff .elementor-flip-box__front .elementor-flip-box__layer__title {
    color: #FCFCFC;
}

.elementor-19 .elementor-element.elementor-element-ca722ff .elementor-flip-box__back .elementor-flip-box__layer__overlay {
    text-align: center;
}

.elementor-19 .elementor-element.elementor-element-ca722ff .elementor-flip-box__button {
    margin-center: 0;
}

.elementor-19 .elementor-element.elementor-element-1eee09c .elementor-flip-box__front {
    background-color: #7A7A7A00;
}

.elementor-19 .elementor-element.elementor-element-1eee09c .elementor-flip-box__back {
    background-color: var( --e-global-color-primary);
}

.elementor-19 .elementor-element.elementor-element-1eee09c {
    background-color: var( --e-global-color-secondary);
}

.elementor-19 .elementor-element.elementor-element-1eee09c:hover {
    background-color: var( --e-global-color-primary);
}

.elementor-19 .elementor-element.elementor-element-1eee09c .elementor-flip-box__front .elementor-flip-box__layer__overlay {
    text-align: center;
}

.elementor-19 .elementor-element.elementor-element-1eee09c .elementor-flip-box__image {
    opacity: 1;
}

.elementor-19 .elementor-element.elementor-element-1eee09c .elementor-flip-box__front .elementor-flip-box__layer__title {
    color: #FCFCFC;
}

.elementor-19 .elementor-element.elementor-element-1eee09c .elementor-flip-box__back .elementor-flip-box__layer__overlay {
    text-align: center;
}

.elementor-19 .elementor-element.elementor-element-1eee09c .elementor-flip-box__button {
    margin-center: 0;
}

.elementor-19 .elementor-element.elementor-element-0889fb2 {
    --display: flex;
    --flex-direction: row;
    --container-widget-width: initial;
    --container-widget-height: 100%;
    --container-widget-flex-grow: 1;
    --container-widget-align-self: stretch;
    --flex-wrap-mobile: wrap;
}

.elementor-19 .elementor-element.elementor-element-3f272d3 .elementor-flip-box__front {
    background-color: #7A7A7A00;
}

.elementor-19 .elementor-element.elementor-element-3f272d3 .elementor-flip-box__back {
    background-color: var( --e-global-color-primary);
}

.elementor-19 .elementor-element.elementor-element-3f272d3 {
    background-color: var( --e-global-color-secondary);
}

.elementor-19 .elementor-element.elementor-element-3f272d3:hover {
    background-color: var( --e-global-color-primary);
}

.elementor-19 .elementor-element.elementor-element-3f272d3 .elementor-flip-box__front .elementor-flip-box__layer__overlay {
    text-align: center;
}

.elementor-19 .elementor-element.elementor-element-3f272d3 .elementor-flip-box__image {
    opacity: 1;
}

.elementor-19 .elementor-element.elementor-element-3f272d3 .elementor-flip-box__image img {
    border-style: solid;
    border-width: 2px 2px 2px 2px;
    border-color: var( --e-global-color-text);
    border-radius: 5px;
}

.elementor-19 .elementor-element.elementor-element-3f272d3 .elementor-flip-box__front .elementor-flip-box__layer__title {
    color: #FCFCFC;
}

.elementor-19 .elementor-element.elementor-element-3f272d3 .elementor-flip-box__back .elementor-flip-box__layer__overlay {
    text-align: center;
}

.elementor-19 .elementor-element.elementor-element-3f272d3 .elementor-flip-box__button {
    margin-center: 0;
}

.elementor-19 .elementor-element.elementor-element-3202020 .elementor-flip-box__front {
    background-color: #7A7A7A00;
}

.elementor-19 .elementor-element.elementor-element-3202020 .elementor-flip-box__back {
    background-color: var( --e-global-color-primary);
}

.elementor-19 .elementor-element.elementor-element-3202020 {
    background-color: var( --e-global-color-primary);
}

.elementor-19 .elementor-element.elementor-element-3202020:hover {
    background-color: var( --e-global-color-accent);
}

.elementor-19 .elementor-element.elementor-element-3202020 .elementor-flip-box__front .elementor-flip-box__layer__overlay {
    text-align: center;
}

.elementor-19 .elementor-element.elementor-element-3202020 .elementor-flip-box__image {
    opacity: 1;
}

.elementor-19 .elementor-element.elementor-element-3202020 .elementor-flip-box__front .elementor-flip-box__layer__title {
    color: #FCFCFC;
}

.elementor-19 .elementor-element.elementor-element-3202020 .elementor-flip-box__back .elementor-flip-box__layer__overlay {
    text-align: center;
}

.elementor-19 .elementor-element.elementor-element-3202020 .elementor-flip-box__button {
    margin-center: 0;
}

.elementor-19 .elementor-element.elementor-element-cd9c938 .elementor-flip-box__front {
    background-color: #7A7A7A00;
}

.elementor-19 .elementor-element.elementor-element-cd9c938 .elementor-flip-box__back {
    background-color: var( --e-global-color-primary);
}

.elementor-19 .elementor-element.elementor-element-cd9c938 {
    background-color: var( --e-global-color-secondary);
}

.elementor-19 .elementor-element.elementor-element-cd9c938:hover {
    background-color: var( --e-global-color-primary);
}

.elementor-19 .elementor-element.elementor-element-cd9c938 .elementor-flip-box__front .elementor-flip-box__layer__overlay {
    text-align: center;
}

.elementor-19 .elementor-element.elementor-element-cd9c938 .elementor-flip-box__image {
    opacity: 1;
}

.elementor-19 .elementor-element.elementor-element-cd9c938 .elementor-flip-box__front .elementor-flip-box__layer__title {
    color: #FCFCFC;
}

.elementor-19 .elementor-element.elementor-element-cd9c938 .elementor-flip-box__back .elementor-flip-box__layer__overlay {
    text-align: center;
}

.elementor-19 .elementor-element.elementor-element-cd9c938 .elementor-flip-box__button {
    margin-center: 0;
}

.elementor-19 .elementor-element.elementor-element-7a343393 {
    --display: flex;
    --min-height: 60vh;
    --flex-direction: column;
    --container-widget-width: calc( ( 1 - var( --container-widget-flex-grow)) * 100%);
    --container-widget-height: initial;
    --container-widget-flex-grow: 0;
    --container-widget-align-self: initial;
    --flex-wrap-mobile: wrap;
    --align-items: stretch;
    --gap: 15px 15px;
    --row-gap: 15px;
    --column-gap: 15px;
    --padding-top: 5%;
    --padding-bottom: 5%;
    --padding-left: 5%;
    --padding-right: 5%;
}

.elementor-19 .elementor-element.elementor-element-7a343393:not(.elementor-motion-effects-element-type-background),
.elementor-19 .elementor-element.elementor-element-7a343393>.elementor-motion-effects-container>.elementor-motion-effects-layer {
    background-color: transparent;
    background-image: linear-gradient(180deg, #F8C3D0 0%, #FFFFFF 40%);
}

.elementor-19 .elementor-element.elementor-element-553beeeb {
    text-align: center;
}

.elementor-19 .elementor-element.elementor-element-553beeeb .elementor-heading-title {
    font-family: "Poppins", Sans-serif;
    font-size: 16px;
    font-weight: 400;
    text-transform: uppercase;
    font-style: normal;
    text-decoration: none;
    line-height: 1.1em;
    letter-spacing: 2px;
    word-spacing: 0em;
    color: #212121;
}

.elementor-19 .elementor-element.elementor-element-4e1edd1c {
    text-align: center;
}

.elementor-19 .elementor-element.elementor-element-4e1edd1c .elementor-heading-title {
    font-family: "Poppins", Sans-serif;
    font-size: 2.5vw;
    font-weight: 500;
    text-transform: none;
    font-style: normal;
    text-decoration: none;
    line-height: 1.2em;
    letter-spacing: -2px;
    word-spacing: 0em;
    color: #222222;
}

.elementor-19 .elementor-element.elementor-element-6a84cb4 {
    text-align: center;
}

.elementor-widget-divider {
    --divider-color: var( --e-global-color-secondary);
}

.elementor-widget-divider .elementor-divider__text {
    color: var( --e-global-color-secondary);
    font-family: var( --e-global-typography-secondary-font-family), Sans-serif;
    font-weight: var( --e-global-typography-secondary-font-weight);
}

.elementor-widget-divider.elementor-view-stacked .elementor-icon {
    background-color: var( --e-global-color-secondary);
}

.elementor-widget-divider.elementor-view-framed .elementor-icon,
.elementor-widget-divider.elementor-view-default .elementor-icon {
    color: var( --e-global-color-secondary);
    border-color: var( --e-global-color-secondary);
}

.elementor-widget-divider.elementor-view-framed .elementor-icon,
.elementor-widget-divider.elementor-view-default .elementor-icon svg {
    fill: var( --e-global-color-secondary);
}

.elementor-19 .elementor-element.elementor-element-2525cb39 {
    --divider-border-style: solid;
    --divider-color: #000;
    --divider-border-width: 0.5px;
}

.elementor-19 .elementor-element.elementor-element-2525cb39 .elementor-divider-separator {
    width: 70%;
    margin: 0 auto;
    margin-center: 0;
}

.elementor-19 .elementor-element.elementor-element-2525cb39 .elementor-divider {
    text-align: center;
    padding-block-start: 20px;
    padding-block-end: 20px;
}

.elementor-widget-testimonial-carousel .elementor-testimonial__text {
    color: var( --e-global-color-text);
    font-family: var( --e-global-typography-text-font-family), Sans-serif;
    font-weight: var( --e-global-typography-text-font-weight);
}

.elementor-widget-testimonial-carousel .elementor-testimonial__name {
    color: var( --e-global-color-text);
    font-family: var( --e-global-typography-primary-font-family), Sans-serif;
    font-weight: var( --e-global-typography-primary-font-weight);
}

.elementor-widget-testimonial-carousel .elementor-testimonial__title {
    color: var( --e-global-color-primary);
    font-family: var( --e-global-typography-secondary-font-family), Sans-serif;
    font-weight: var( --e-global-typography-secondary-font-weight);
}

.elementor-19 .elementor-element.elementor-element-6e14bdd4.elementor-arrows-yes .elementor-main-swiper {
    width: calc( 80% - 40px);
}

.elementor-19 .elementor-element.elementor-element-6e14bdd4 .elementor-main-swiper {
    width: 80%;
}

.elementor-19 .elementor-element.elementor-element-6e14bdd4 .elementor-main-swiper .swiper-slide {
    padding: 24px 0px 60px 0px;
}

.elementor-19 .elementor-element.elementor-element-6e14bdd4 .swiper-pagination-bullet {
    height: 9px;
    width: 9px;
}

.elementor-19 .elementor-element.elementor-element-6e14bdd4 .swiper-horizontal .swiper-pagination-progressbar {
    height: 9px;
}

.elementor-19 .elementor-element.elementor-element-6e14bdd4.elementor-testimonial--layout-image_inline .elementor-testimonial__footer,
.elementor-19 .elementor-element.elementor-element-6e14bdd4.elementor-testimonial--layout-image_stacked .elementor-testimonial__footer {
    margin-top: 66px;
}

.elementor-19 .elementor-element.elementor-element-6e14bdd4.elementor-testimonial--layout-image_above .elementor-testimonial__footer {
    margin-bottom: 66px;
}

.elementor-19 .elementor-element.elementor-element-6e14bdd4.elementor-testimonial--layout-image_left .elementor-testimonial__footer {
    padding-right: 66px;
}

.elementor-19 .elementor-element.elementor-element-6e14bdd4.elementor-testimonial--layout-image_right .elementor-testimonial__footer {
    padding-left: 66px;
}

.elementor-19 .elementor-element.elementor-element-6e14bdd4 .elementor-testimonial__text {
    color: #212121;
    font-family: "Poppins", Sans-serif;
    font-size: 22px;
    font-weight: 300;
    text-transform: none;
    font-style: normal;
    text-decoration: none;
    line-height: 1.3em;
    letter-spacing: 0px;
    word-spacing: 0em;
}

.elementor-19 .elementor-element.elementor-element-6e14bdd4 .elementor-testimonial__name {
    color: #212121;
    font-family: "Poppins", Sans-serif;
    font-size: 24px;
    font-weight: 500;
    text-transform: capitalize;
    font-style: normal;
    text-decoration: none;
    line-height: 2em;
    letter-spacing: 0px;
    word-spacing: 0em;
}

.elementor-19 .elementor-element.elementor-element-6e14bdd4 .elementor-testimonial__title {
    color: #212121;
    font-family: "Poppins", Sans-serif;
    font-size: 16px;
    font-weight: 400;
    text-transform: capitalize;
    font-style: normal;
    text-decoration: none;
    line-height: 1.1em;
    letter-spacing: 0px;
    word-spacing: 0em;
}

.elementor-19 .elementor-element.elementor-element-771c4ad4 {
    --divider-border-style: solid;
    --divider-color: #000;
    --divider-border-width: 0.5px;
}

.elementor-19 .elementor-element.elementor-element-771c4ad4 .elementor-divider-separator {
    width: 70%;
    margin: 0 auto;
    margin-center: 0;
}

.elementor-19 .elementor-element.elementor-element-771c4ad4 .elementor-divider {
    text-align: center;
    padding-block-start: 20px;
    padding-block-end: 20px;
}

.elementor-19 .elementor-element.elementor-element-2762200d {
    --display: flex;
    --flex-direction: column;
    --container-widget-width: calc( ( 1 - var( --container-widget-flex-grow)) * 100%);
    --container-widget-height: initial;
    --container-widget-flex-grow: 0;
    --container-widget-align-self: initial;
    --flex-wrap-mobile: wrap;
    --align-items: stretch;
    --gap: 0px 0px;
    --row-gap: 0px;
    --column-gap: 0px;
    --margin-top: 06%;
    --margin-bottom: 0%;
    --margin-left: 0%;
    --margin-right: 0%;
    --padding-top: 0%;
    --padding-bottom: 8%;
    --padding-left: 4%;
    --padding-right: 4%;
}

.elementor-19 .elementor-element.elementor-element-2762200d:not(.elementor-motion-effects-element-type-background),
.elementor-19 .elementor-element.elementor-element-2762200d>.elementor-motion-effects-container>.elementor-motion-effects-layer {
    background-color: #FFFFFF;
}

.elementor-19 .elementor-element.elementor-element-0f77dad {
    margin: -80px 0px calc(var(--kit-widget-spacing, 0px) + 0px) 0px;
}

.elementor-19 .elementor-element.elementor-element-6066f760 {
    margin: 0% 0% calc(var(--kit-widget-spacing, 0px) + 1%) 0%;
    text-align: center;
}

.elementor-19 .elementor-element.elementor-element-6066f760 .elementor-heading-title {
    font-family: "Poppins", Sans-serif;
    font-size: 65px;
    font-weight: 600;
    text-transform: capitalize;
    font-style: normal;
    text-decoration: none;
    line-height: 1.2em;
    letter-spacing: 0px;
    color: #1C244B;
}

.elementor-19 .elementor-element.elementor-element-33549b50 {
    padding: 0% 2% 0% 2%;
    text-align: center;
}

.elementor-19 .elementor-element.elementor-element-33549b50 .elementor-heading-title {
    font-family: "Poppins", Sans-serif;
    font-size: 22px;
    font-weight: 300;
    text-transform: none;
    font-style: normal;
    text-decoration: none;
    line-height: 1.5em;
    letter-spacing: 0px;
    color: #324A6D;
}

.elementor-19 .elementor-element.elementor-element-6b59ecaa {
    --display: flex;
    --flex-direction: row;
    --container-widget-width: initial;
    --container-widget-height: 100%;
    --container-widget-flex-grow: 1;
    --container-widget-align-self: stretch;
    --flex-wrap-mobile: wrap;
    --gap: 2.5% 2.5%;
    --row-gap: 2.5%;
    --column-gap: 2.5%;
    --margin-top: 4%;
    --margin-bottom: 0%;
    --margin-left: 0%;
    --margin-right: 0%;
    --padding-top: 0px;
    --padding-bottom: 0px;
    --padding-left: 0px;
    --padding-right: 0px;
}

.elementor-widget-image-box .elementor-image-box-title {
    font-family: var( --e-global-typography-primary-font-family), Sans-serif;
    font-weight: var( --e-global-typography-primary-font-weight);
    color: var( --e-global-color-primary);
}

.elementor-widget-image-box:has(:hover) .elementor-image-box-title,
.elementor-widget-image-box:has(:focus) .elementor-image-box-title {
    color: var( --e-global-color-primary);
}

.elementor-widget-image-box .elementor-image-box-description {
    font-family: var( --e-global-typography-text-font-family), Sans-serif;
    font-weight: var( --e-global-typography-text-font-weight);
    color: var( --e-global-color-text);
}

.elementor-19 .elementor-element.elementor-element-64ccb333 {
    width: var( --container-widget-width, 38.5%);
    max-width: 38.5%;
    --container-widget-width: 38.5%;
    --container-widget-flex-grow: 0;
}

.elementor-19 .elementor-element.elementor-element-64ccb333 .elementor-image-box-wrapper {
    text-align: center;
}

.elementor-19 .elementor-element.elementor-element-64ccb333.elementor-position-right .elementor-image-box-img {
    margin-left: 15px;
}

.elementor-19 .elementor-element.elementor-element-64ccb333.elementor-position-left .elementor-image-box-img {
    margin-right: 15px;
}

.elementor-19 .elementor-element.elementor-element-64ccb333.elementor-position-top .elementor-image-box-img {
    margin-bottom: 15px;
}

.elementor-19 .elementor-element.elementor-element-64ccb333 .elementor-image-box-title {
    margin-bottom: 15px;
    font-family: "Poppins", Sans-serif;
    font-size: 22px;
    font-weight: 600;
    text-transform: capitalize;
    font-style: normal;
    text-decoration: none;
    line-height: 1.2em;
    letter-spacing: 0px;
    color: #1C244B;
}

.elementor-19 .elementor-element.elementor-element-64ccb333 .elementor-image-box-wrapper .elementor-image-box-img {
    width: 100%;
}

.elementor-19 .elementor-element.elementor-element-64ccb333 .elementor-image-box-img img {
    transition-duration: 0.3s;
}

.elementor-19 .elementor-element.elementor-element-64ccb333 .elementor-image-box-description {
    font-family: "Poppins", Sans-serif;
    font-size: 16px;
    font-weight: 300;
    text-transform: none;
    font-style: normal;
    text-decoration: none;
    line-height: 1.5em;
    letter-spacing: 0px;
    color: #324A6D;
}

.elementor-19 .elementor-element.elementor-element-71d8c3c4 {
    width: var( --container-widget-width, 38.5%);
    max-width: 38.5%;
    --container-widget-width: 38.5%;
    --container-widget-flex-grow: 0;
}

.elementor-19 .elementor-element.elementor-element-71d8c3c4 .elementor-image-box-wrapper {
    text-align: center;
}

.elementor-19 .elementor-element.elementor-element-71d8c3c4.elementor-position-right .elementor-image-box-img {
    margin-left: 15px;
}

.elementor-19 .elementor-element.elementor-element-71d8c3c4.elementor-position-left .elementor-image-box-img {
    margin-right: 15px;
}

.elementor-19 .elementor-element.elementor-element-71d8c3c4.elementor-position-top .elementor-image-box-img {
    margin-bottom: 15px;
}

.elementor-19 .elementor-element.elementor-element-71d8c3c4 .elementor-image-box-title {
    margin-bottom: 15px;
    font-family: "Poppins", Sans-serif;
    font-size: 22px;
    font-weight: 600;
    text-transform: capitalize;
    font-style: normal;
    text-decoration: none;
    line-height: 1.2em;
    letter-spacing: 0px;
    color: #1C244B;
}

.elementor-19 .elementor-element.elementor-element-71d8c3c4 .elementor-image-box-wrapper .elementor-image-box-img {
    width: 100%;
}

.elementor-19 .elementor-element.elementor-element-71d8c3c4 .elementor-image-box-img img {
    transition-duration: 0.3s;
}

.elementor-19 .elementor-element.elementor-element-71d8c3c4 .elementor-image-box-description {
    font-family: "Poppins", Sans-serif;
    font-size: 16px;
    font-weight: 300;
    text-transform: none;
    font-style: normal;
    text-decoration: none;
    line-height: 1.5em;
    letter-spacing: 0px;
    color: #324A6D;
}

.elementor-19 .elementor-element.elementor-element-6e2fe226 {
    width: var( --container-widget-width, 38.5%);
    max-width: 38.5%;
    --container-widget-width: 38.5%;
    --container-widget-flex-grow: 0;
}

.elementor-19 .elementor-element.elementor-element-6e2fe226 .elementor-image-box-wrapper {
    text-align: center;
}

.elementor-19 .elementor-element.elementor-element-6e2fe226.elementor-position-right .elementor-image-box-img {
    margin-left: 15px;
}

.elementor-19 .elementor-element.elementor-element-6e2fe226.elementor-position-left .elementor-image-box-img {
    margin-right: 15px;
}

.elementor-19 .elementor-element.elementor-element-6e2fe226.elementor-position-top .elementor-image-box-img {
    margin-bottom: 15px;
}

.elementor-19 .elementor-element.elementor-element-6e2fe226 .elementor-image-box-title {
    margin-bottom: 15px;
    font-family: "Poppins", Sans-serif;
    font-size: 22px;
    font-weight: 600;
    text-transform: capitalize;
    font-style: normal;
    text-decoration: none;
    line-height: 1.2em;
    letter-spacing: 0px;
    color: #1C244B;
}

.elementor-19 .elementor-element.elementor-element-6e2fe226 .elementor-image-box-wrapper .elementor-image-box-img {
    width: 100%;
}

.elementor-19 .elementor-element.elementor-element-6e2fe226 .elementor-image-box-img img {
    transition-duration: 0.3s;
}

.elementor-19 .elementor-element.elementor-element-6e2fe226 .elementor-image-box-description {
    font-family: "Poppins", Sans-serif;
    font-size: 16px;
    font-weight: 300;
    text-transform: none;
    font-style: normal;
    text-decoration: none;
    line-height: 1.5em;
    letter-spacing: 0px;
    color: #324A6D;
}

.elementor-19 .elementor-element.elementor-element-3f73aabd {
    width: var( --container-widget-width, 38.5%);
    max-width: 38.5%;
    --container-widget-width: 38.5%;
    --container-widget-flex-grow: 0;
}

.elementor-19 .elementor-element.elementor-element-3f73aabd .elementor-image-box-wrapper {
    text-align: center;
}

.elementor-19 .elementor-element.elementor-element-3f73aabd.elementor-position-right .elementor-image-box-img {
    margin-left: 15px;
}

.elementor-19 .elementor-element.elementor-element-3f73aabd.elementor-position-left .elementor-image-box-img {
    margin-right: 15px;
}

.elementor-19 .elementor-element.elementor-element-3f73aabd.elementor-position-top .elementor-image-box-img {
    margin-bottom: 15px;
}

.elementor-19 .elementor-element.elementor-element-3f73aabd .elementor-image-box-title {
    margin-bottom: 15px;
    font-family: "Poppins", Sans-serif;
    font-size: 22px;
    font-weight: 600;
    text-transform: capitalize;
    font-style: normal;
    text-decoration: none;
    line-height: 1.2em;
    letter-spacing: 0px;
    color: #1C244B;
}

.elementor-19 .elementor-element.elementor-element-3f73aabd .elementor-image-box-wrapper .elementor-image-box-img {
    width: 100%;
}

.elementor-19 .elementor-element.elementor-element-3f73aabd .elementor-image-box-img img {
    transition-duration: 0.3s;
}

.elementor-19 .elementor-element.elementor-element-3f73aabd .elementor-image-box-description {
    font-family: "Poppins", Sans-serif;
    font-size: 16px;
    font-weight: 300;
    text-transform: none;
    font-style: normal;
    text-decoration: none;
    line-height: 1.5em;
    letter-spacing: 0px;
    color: #324A6D;
}

@media(max-width:1024px) {
    .elementor-19 .elementor-element.elementor-element-2accfca9 {
        --min-height: 80vh;
        --flex-direction: column;
        --container-widget-width: calc( ( 1 - var( --container-widget-flex-grow)) * 100%);
        --container-widget-height: initial;
        --container-widget-flex-grow: 0;
        --container-widget-align-self: initial;
        --flex-wrap-mobile: wrap;
        --align-items: center;
        --padding-top: 15%;
        --padding-bottom: 0%;
        --padding-left: 5%;
        --padding-right: 5%;
    }
    .elementor-19 .elementor-element.elementor-element-78b83a7d {
        --spacer-size: 280px;
        --container-widget-width: 280px;
        --container-widget-flex-grow: 0;
        width: var( --container-widget-width, 280px);
        max-width: 280px;
        top: -20%;
    }
    .elementor-19 .elementor-element.elementor-element-30dff4b0 .elementor-cta__content {
        text-align: center;
    }
    .elementor-19 .elementor-element.elementor-element-30dff4b0 .elementor-cta__title {
        font-size: 45px;
    }
    .elementor-19 .elementor-element.elementor-element-30dff4b0 .elementor-cta__description {
        font-size: 20px;
    }
    .elementor-19 .elementor-element.elementor-element-30dff4b0 .elementor-cta__button {
        font-size: 14px;
    }
    .elementor-19 .elementor-element.elementor-element-5e6d38f3 {
        --padding-top: 10%;
        --padding-bottom: 10%;
        --padding-left: 5%;
        --padding-right: 5%;
    }
    .elementor-19 .elementor-element.elementor-element-5f922b80 {
        padding: 0% 10% 0% 10%;
    }
    .elementor-19 .elementor-element.elementor-element-5841dda3 {
        --gap: 20px 20px;
        --row-gap: 20px;
        --column-gap: 20px;
        --flex-wrap: wrap;
        --padding-top: 10%;
        --padding-bottom: 5%;
        --padding-left: 5%;
        --padding-right: 5%;
    }
    .elementor-19 .elementor-element.elementor-element-162c1b91 {
        --justify-content: flex-start;
    }
    .elementor-19 .elementor-element.elementor-element-7a343393 {
        --padding-top: 10%;
        --padding-bottom: 10%;
        --padding-left: 5%;
        --padding-right: 5%;
    }
    .elementor-19 .elementor-element.elementor-element-4e1edd1c .elementor-heading-title {
        font-size: 40px;
    }
    .elementor-19 .elementor-element.elementor-element-2525cb39 .elementor-divider-separator {
        width: 100%;
    }
    .elementor-19 .elementor-element.elementor-element-6e14bdd4.elementor-arrows-yes .elementor-main-swiper {
        width: calc( 100% - 40px);
    }
    .elementor-19 .elementor-element.elementor-element-6e14bdd4 .elementor-main-swiper {
        width: 100%;
    }
    .elementor-19 .elementor-element.elementor-element-6e14bdd4 .elementor-testimonial__text {
        font-size: 18px;
    }
    .elementor-19 .elementor-element.elementor-element-6e14bdd4 .elementor-testimonial__name {
        font-size: 20px;
    }
    .elementor-19 .elementor-element.elementor-element-771c4ad4 .elementor-divider-separator {
        width: 100%;
    }
    .elementor-19 .elementor-element.elementor-element-2762200d {
        --padding-top: 12%;
        --padding-bottom: 12%;
        --padding-left: 4%;
        --padding-right: 4%;
    }
    .elementor-19 .elementor-element.elementor-element-6066f760 .elementor-heading-title {
        font-size: 45px;
    }
    .elementor-19 .elementor-element.elementor-element-33549b50 {
        padding: 0% 16% 0% 16%;
    }
    .elementor-19 .elementor-element.elementor-element-33549b50 .elementor-heading-title {
        font-size: 14px;
    }
    .elementor-19 .elementor-element.elementor-element-6b59ecaa {
        --justify-content: space-between;
        --gap: 50px 50px;
        --row-gap: 50px;
        --column-gap: 50px;
        --flex-wrap: wrap;
        --margin-top: 8%;
        --margin-bottom: 0%;
        --margin-left: 0%;
        --margin-right: 0%;
    }
    .elementor-19 .elementor-element.elementor-element-64ccb333 {
        width: var( --container-widget-width, 46%);
        max-width: 46%;
        --container-widget-width: 46%;
        --container-widget-flex-grow: 0;
    }
    .elementor-19 .elementor-element.elementor-element-64ccb333 .elementor-image-box-description {
        font-size: 14px;
    }
    .elementor-19 .elementor-element.elementor-element-71d8c3c4 {
        width: var( --container-widget-width, 46%);
        max-width: 46%;
        --container-widget-width: 46%;
        --container-widget-flex-grow: 0;
    }
    .elementor-19 .elementor-element.elementor-element-71d8c3c4 .elementor-image-box-description {
        font-size: 14px;
    }
    .elementor-19 .elementor-element.elementor-element-6e2fe226 {
        width: var( --container-widget-width, 46%);
        max-width: 46%;
        --container-widget-width: 46%;
        --container-widget-flex-grow: 0;
    }
    .elementor-19 .elementor-element.elementor-element-6e2fe226 .elementor-image-box-description {
        font-size: 14px;
    }
    .elementor-19 .elementor-element.elementor-element-3f73aabd {
        width: var( --container-widget-width, 46%);
        max-width: 46%;
        --container-widget-width: 46%;
        --container-widget-flex-grow: 0;
    }
    .elementor-19 .elementor-element.elementor-element-3f73aabd .elementor-image-box-description {
        font-size: 14px;
    }
}

@media(max-width:767px) {
    .elementor-19 .elementor-element.elementor-element-2accfca9 {
        --min-height: 100vh;
        --margin-top: -90px;
        --margin-bottom: 0px;
        --margin-left: 0px;
        --margin-right: 0px;
    }
    .elementor-19 .elementor-element.elementor-element-6591554b {
        --margin-top: 0%;
        --margin-bottom: 0%;
        --margin-left: 0%;
        --margin-right: 0%;
    }
    .elementor-19 .elementor-element.elementor-element-78b83a7d {
        --spacer-size: 180px;
        --container-widget-width: 180px;
        --container-widget-flex-grow: 0;
        width: var( --container-widget-width, 180px);
        max-width: 180px;
        top: 5%;
    }
    .elementor-19 .elementor-element.elementor-element-30dff4b0 .elementor-cta__content {
        text-align: center;
        padding: 40px 0px 0px 0px;
    }
    .elementor-19 .elementor-element.elementor-element-30dff4b0 .elementor-cta__title {
        font-size: 35px;
        line-height: 1.2em;
    }
    .elementor-19 .elementor-element.elementor-element-30dff4b0 .elementor-cta__description {
        font-size: 18px;
    }
    .elementor-19 .elementor-element.elementor-element-30dff4b0 .elementor-cta__button {
        letter-spacing: 2px;
    }
    .elementor-19 .elementor-element.elementor-element-bc51fa7 {
        width: var( --container-widget-width, 314.591px);
        max-width: 314.591px;
        margin: 20px 0px calc(var(--kit-widget-spacing, 0px) + 0px) 0px;
        --container-widget-width: 314.591px;
        --container-widget-flex-grow: 0;
    }
    .elementor-19 .elementor-element.elementor-element-bc51fa7 img {
        height: 282px;
    }
    .elementor-19 .elementor-element.elementor-element-5e6d38f3 {
        --min-height: 100vh;
        --padding-top: 20%;
        --padding-bottom: 20%;
        --padding-left: 5%;
        --padding-right: 5%;
    }
    .elementor-19 .elementor-element.elementor-element-6eff69f0 .elementor-heading-title {
        font-size: 13px;
    }
    .elementor-19 .elementor-element.elementor-element-5f922b80 {
        padding: 0% 0% 0% 0%;
    }
    .elementor-19 .elementor-element.elementor-element-5f922b80 .elementor-heading-title {
        font-size: 25px;
    }
    .elementor-19 .elementor-element.elementor-element-dcd4fb1 .elementor-heading-title {
        font-size: 25px;
    }
    .elementor-19 .elementor-element.elementor-element-6c198a6 .elementor-heading-title {
        font-size: 25px;
    }
    .elementor-19 .elementor-element.elementor-element-65895b3 .elementor-heading-title {
        font-size: 25px;
    }
    .elementor-19 .elementor-element.elementor-element-c24d7c6 .elementor-heading-title {
        font-size: 25px;
    }
    .elementor-19 .elementor-element.elementor-element-5841dda3 {
        --padding-top: 20%;
        --padding-bottom: 20%;
        --padding-left: 5%;
        --padding-right: 5%;
    }
    .elementor-19 .elementor-element.elementor-element-162c1b91 {
        --margin-top: -40px;
        --margin-bottom: 0px;
        --margin-left: 0px;
        --margin-right: 0px;
        --padding-top: 0%;
        --padding-bottom: 0%;
        --padding-left: 0%;
        --padding-right: 0%;
    }
    .elementor-19 .elementor-element.elementor-element-e107602 .elementor-heading-title {
        font-size: 20px;
    }
    .elementor-19 .elementor-element.elementor-element-0ec1dc9 .elementor-heading-title {
        font-size: 30px;
    }
    .elementor-19 .elementor-element.elementor-element-df0d53d {
        --width: 100%;
        --flex-direction: column;
        --container-widget-width: 100%;
        --container-widget-height: initial;
        --container-widget-flex-grow: 0;
        --container-widget-align-self: initial;
        --flex-wrap-mobile: wrap;
    }
    .elementor-19 .elementor-element.elementor-element-6e94724 {
        margin: 0px 0px calc(var(--kit-widget-spacing, 0px) + 0px) 0px;
        padding: 0px 0px 0px 0px;
    }
    .elementor-19 .elementor-element.elementor-element-0889fb2 {
        --width: 100%;
        --flex-direction: column;
        --container-widget-width: 100%;
        --container-widget-height: initial;
        --container-widget-flex-grow: 0;
        --container-widget-align-self: initial;
        --flex-wrap-mobile: wrap;
    }
    .elementor-19 .elementor-element.elementor-element-7a343393 {
        --min-height: 600px;
        --margin-top: -40px;
        --margin-bottom: 0px;
        --margin-left: 0px;
        --margin-right: 0px;
        --padding-top: 20%;
        --padding-bottom: 20%;
        --padding-left: 5%;
        --padding-right: 5%;
    }
    .elementor-19 .elementor-element.elementor-element-553beeeb .elementor-heading-title {
        font-size: 13px;
    }
    .elementor-19 .elementor-element.elementor-element-4e1edd1c .elementor-heading-title {
        font-size: 30px;
    }
    .elementor-19 .elementor-element.elementor-element-6e14bdd4.elementor-testimonial--layout-image_inline .elementor-testimonial__footer,
    .elementor-19 .elementor-element.elementor-element-6e14bdd4.elementor-testimonial--layout-image_stacked .elementor-testimonial__footer {
        margin-top: 40px;
    }
    .elementor-19 .elementor-element.elementor-element-6e14bdd4.elementor-testimonial--layout-image_above .elementor-testimonial__footer {
        margin-bottom: 40px;
    }
    .elementor-19 .elementor-element.elementor-element-6e14bdd4.elementor-testimonial--layout-image_left .elementor-testimonial__footer {
        padding-right: 40px;
    }
    .elementor-19 .elementor-element.elementor-element-6e14bdd4.elementor-testimonial--layout-image_right .elementor-testimonial__footer {
        padding-left: 40px;
    }
    .elementor-19 .elementor-element.elementor-element-6e14bdd4 .elementor-testimonial__text {
        font-size: 16px;
    }
    .elementor-19 .elementor-element.elementor-element-6e14bdd4 .elementor-testimonial__title {
        font-size: 14px;
    }
    .elementor-19 .elementor-element.elementor-element-2762200d {
        --margin-top: -10%;
        --margin-bottom: 0%;
        --margin-left: 0%;
        --margin-right: 0%;
        --padding-top: 20%;
        --padding-bottom: 20%;
        --padding-left: 6%;
        --padding-right: 6%;
    }
    .elementor-19 .elementor-element.elementor-element-6066f760 {
        margin: 0% 0% calc(var(--kit-widget-spacing, 0px) + 8%) 0%;
    }
    .elementor-19 .elementor-element.elementor-element-6066f760 .elementor-heading-title {
        font-size: 28px;
        line-height: 1.1em;
    }
    .elementor-19 .elementor-element.elementor-element-33549b50 {
        padding: 0% 0% 0% 0%;
    }
    .elementor-19 .elementor-element.elementor-element-6b59ecaa {
        --gap: 70px 70px;
        --row-gap: 70px;
        --column-gap: 70px;
        --margin-top: 20%;
        --margin-bottom: 0%;
        --margin-left: 0%;
        --margin-right: 0%;
        --padding-top: 0px;
        --padding-bottom: 0px;
        --padding-left: 02px;
        --padding-right: 02px;
    }
    .elementor-19 .elementor-element.elementor-element-64ccb333 {
        width: 100%;
        max-width: 100%;
        margin: 0% 0% calc(var(--kit-widget-spacing, 0px) + 0%) 0%;
    }
    .elementor-19 .elementor-element.elementor-element-64ccb333 .elementor-image-box-wrapper {
        text-align: center;
    }
    .elementor-19 .elementor-element.elementor-element-64ccb333 .elementor-image-box-img {
        margin-bottom: 15px;
    }
    .elementor-19 .elementor-element.elementor-element-64ccb333 .elementor-image-box-title {
        font-size: 18px;
    }
    .elementor-19 .elementor-element.elementor-element-71d8c3c4 {
        width: 100%;
        max-width: 100%;
        margin: 0% 0% calc(var(--kit-widget-spacing, 0px) + 0%) 0%;
    }
    .elementor-19 .elementor-element.elementor-element-71d8c3c4 .elementor-image-box-wrapper {
        text-align: center;
    }
    .elementor-19 .elementor-element.elementor-element-71d8c3c4 .elementor-image-box-img {
        margin-bottom: 15px;
    }
    .elementor-19 .elementor-element.elementor-element-71d8c3c4 .elementor-image-box-title {
        font-size: 18px;
    }
    .elementor-19 .elementor-element.elementor-element-6e2fe226 {
        width: 100%;
        max-width: 100%;
        margin: 0% 0% calc(var(--kit-widget-spacing, 0px) + 0%) 0%;
    }
    .elementor-19 .elementor-element.elementor-element-6e2fe226 .elementor-image-box-wrapper {
        text-align: center;
    }
    .elementor-19 .elementor-element.elementor-element-6e2fe226 .elementor-image-box-img {
        margin-bottom: 15px;
    }
    .elementor-19 .elementor-element.elementor-element-6e2fe226 .elementor-image-box-title {
        font-size: 18px;
    }
    .elementor-19 .elementor-element.elementor-element-3f73aabd {
        width: 100%;
        max-width: 100%;
        margin: 0% 0% calc(var(--kit-widget-spacing, 0px) + 0%) 0%;
    }
    .elementor-19 .elementor-element.elementor-element-3f73aabd .elementor-image-box-wrapper {
        text-align: center;
    }
    .elementor-19 .elementor-element.elementor-element-3f73aabd .elementor-image-box-img {
        margin-bottom: 15px;
    }
    .elementor-19 .elementor-element.elementor-element-3f73aabd .elementor-image-box-title {
        font-size: 18px;
    }
}

@media(min-width:768px) {
    .elementor-19 .elementor-element.elementor-element-6591554b {
        --width: 51.904%;
    }
    .elementor-19 .elementor-element.elementor-element-5e6d38f3 {
        --content-width: 1200px;
    }
    .elementor-19 .elementor-element.elementor-element-5841dda3 {
        --content-width: 1400px;
    }
    .elementor-19 .elementor-element.elementor-element-162c1b91 {
        --width: 100%;
    }
    .elementor-19 .elementor-element.elementor-element-df0d53d {
        --width: 100%;
    }
    .elementor-19 .elementor-element.elementor-element-0889fb2 {
        --width: 100%;
    }
    .elementor-19 .elementor-element.elementor-element-7a343393 {
        --content-width: 1140px;
    }
    .elementor-19 .elementor-element.elementor-element-2762200d {
        --content-width: 1790px;
    }
}

@media(max-width:1024px) and (min-width:768px) {
    .elementor-19 .elementor-element.elementor-element-6591554b {
        --width: 100%;
    }
    .elementor-19 .elementor-element.elementor-element-162c1b91 {
        --width: 45%;
    }
}